<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}</p>

        <p>
        By <a href="https://www.mauricioaniche.com">Maurício Aniche</a> and 
        <a href="https://www.avandeursen.com">Arie van Deursen</a>.<br>
        License: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA 4.0 International</a>. Contact the authors when in doubt.<br>
        Delft University of Technology.
        </p>

        <img src="{{ site.url }}/assets/img/tudelft.png" class="tudelft-logo">
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <nav>
          <ul>
            {% assign sorted_chapters = site.chapters | sort: "chapter-number" %}
            {% for chapter in sorted_chapters %}
              <li>
                <a href="{{ chapter.url }}">Chapter {{ chapter.chapter-number }} - {{ chapter.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

  </div>

</footer>
