

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-top: 5px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Image at home page
#home-img {
  max-width: 100%;
  vertical-align: middle;
  border: 10px solid #efefef;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

// Center images in examples and assignments
.example img, .exercise img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.author-photo {
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.author-photo-mauricio {
  width: 150px;
}

.author-photo-arie {
  width: 160px;
}

.author-row:after {
  content: "";
  display: table;
  clear: both;
}

.author-column {
  float: left; 
  display: inline; 
  width:50%;
}

.author-name {
  margin: 1em;
  display: block;
  text-align: center;

}

.todo {
  border: solid 2px #334c2c;
  padding: 0.5em;
  background-color: #a5e6a5;
  margin-bottom: 1em;
  margin-top: 1em;
}

.tudelft-logo {
  width: 120px;
  display: inline;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}