<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include chapter-header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title p-name" itemprop="name headline">Chapter {{ page.chapter-number }} - {{ page.title | escape }}</h1>
            <p class="post-meta">
              {%- if page.author -%}
                • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
              {%- endif -%}</p>
          </header>

          <div id="toc-content-wrapper">

            <div id="content" class="post-content e-content" itemprop="articleBody">
              {{ content }}
            </div>
            
            <div class="sidebar toc">
              {% include toc.html html=content class="section-nav"%}
            </div>
          </div>

          {%- if site.disqus.shortname -%}
            {%- include disqus_comments.html -%}
          {%- endif -%}


          

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>

      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>
